<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 	xmlns:context="http://www.springframework.org/schema/context"
 	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">  

   <context:annotation-config/>
   <context:component-scan base-package="com.excilys.cdb"/>
<!--<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" destroy-method="destroy">
    	 <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	 <property name="url" value="jdbc:mysql://localhost:3306/computer-database-db?zeroDateTimeBehavior=convertToNull"/>
    	 <property name="username" value="admincdb"/>
    	 <property name="password" value="qwerty1234"/>
    </bean>
	<bean id="computerDao" class="com.excilys.cdb.persistence.ComputerDao">
    </bean>
    
    <bean id="companyDao" class="com.excilys.cdb.persistence.CompanyDao">
    </bean>
    
    <bean id="serviceComputer" class="com.excilys.cdb.service.ComputersService" >
   		 <constructor-arg ref="computerDao"/>
    </bean>
    <bean id="serviceCompany" class="com.excilys.cdb.service.CompaniesService" >
   		 <constructor-arg ref="companyDao"/>
    </bean> -->
</beans>